* {
  font-family: "Roboto";
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input[type="file"]::file-selector-button {
  background: #316cf4;
  color: #fff;
  cursor: pointer;
}
input[type="file"]:hover::file-selector-button {
  color: black;
}
